# Denylist files/folders in same directory as the .gitignore file
/*

# Allowlist our source files
!/gradle/
!/src/
!/saspackage/
!/.gitignore
!/.gitattributes
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/README.md
!/settings.gradle
!/frontend

# Denylist things created by the build, tools or OS
/frontend/node_modules

# Some common file extensions we should ignore
/src/**/*~
/src/**/*.swp
/src/**/*.bak
/src/**/*.log